<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <h2>MongoDB Database Results getting Routes frequency >= 1</h2>
    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r._id %> <%= r._id %></li>
        <% }); %>
    </ul>
</div>
</body>
</html>