<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <h1>MongoDB Database Results</h1>
    <h3>Users:</h3>
    <ol type="1">
        <% results.forEach(function(document) { %>
            <li><%= document.first_name %> <%= document.last_name %></li>
        <% }); %>
    </ol>
</div>
</body>
</html>